{{#if orders}}
<section class="container mb-5">
 <div class="col-12 "style='margin-top: 11em;'>
            <h1 class="h2 text-center" style="margin-bottom: 2em;">Order History</h1>
             <label class=""><strong>Total Orders : {{totalOrders}}</strong></label>
            <div class="table-responsive ">
              <table class="table table-bordered table-striped table-order-history">
                <thead>
                  <tr>
                    <th scope="col"># </th>
                    <th scope="col">Order Number</th>
                    <th scope="col">Order Date </th>
                    <th scope="col">Status</th>
                    <th scope="col">Total Price</th>
                    <th scope="col">Payment Method</th>
                    <th scope="col"></th>
                  </tr>
                </thead>
                <tbody>
                  {{#each history}}
                  <tr>
                    <td>1</td>
                    <td><b>{{this._id}}</b></td>
                    <td>{{this.Date}}</td>
                    <td>{{this.status}}</td>
                    <td><span class="color">${{this.details.TotalPrice}}</span></td>
                    <td>{{this.details.paymentMethod}}</td>
                    <td><a href="/orders-details/{{this._id}}" class="btn btn--grey btn--sm">View Details</a></td>
                  </tr>
                  {{/each}}
                  </tbody>
              </table>
            </div>
            </section>
            {{else}}
            <section>
<div class="container-fluid mt-100" style="margin-top:10em;margin-bottom:7em;">
    <div class="row">
        <div class="col-md-12">
            <div class="">
                 <div class="card-body cart">
                    <div class="col-sm-12 empty-cart-cls text-center"> <img src="/images/order.png" width="130" height="130" class="img-fluid mb-4 mr-3">
                        <h3><strong>There is no orders</strong></h3>
                        <h5>Please make a order </h5> <a href="/" class="btn btn-primary cart-btn-transform m-3" data-abc="true">Go to shopping</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</section>
{{/if}}
